<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Study</title>
    </head>
    <body>
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('quiz')}}">Quiz</a>
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('quiz')}}">Quiz</a>
        study
        {% if method=="GET" %}
        <div>
            <form method = "POST">
                {{ form.hidden_tag() }}
                <section>
                    <h3>Ancients</h3>
                    <ul>
                        <li>{{ form.archaic.label }} {{ form.archaic() }}</li>
                        <li>{{ form.classical.label }} {{ form.classical() }}</li>
                        <li>{{ form.hellenistic.label }} {{ form.hellenistic() }}</li>
                    </ul>
                </section>
                <section>
                    <h3>Medeival</h3>
                    <ul>
                        <li>{{ form.romanesque.label }} {{ form.romanesque() }}</li>
                        <li>{{ form.gothic.label }} {{ form.gothic() }}</li>
                    </ul>
                </section>
                <section>
                    <h3>Renaissance</h3>
                    <ul>
                        <li>{{ form.renaissance.label }} {{ form.renaissance() }}</li>
                        <li>{{ form.northern.label }} {{ form.northern() }}</li>
                    </ul>
                </section>
                <section>
                    <h3>Baroque</h3>
                    <ul>
                        <li>{{ form.aristocratic.label }} {{ form.aristocratic() }}</li>
                        <li>{{ form.dutch.label }} {{ form.dutch() }}</li>
                    </ul>
                </section>
                <section>
                    <h3>Contemporary</h3>
                    <ul>
                        <li>{{ form.neoclassical.label }} {{ form.neoclassical() }}</li>
                        <li>{{ form.romantic.label }} {{ form.romantic() }}</li>
                    </ul>
                </section>
                <section>
                    <h3>Modernism</h3>
                    <ul>
                        <li>{{ form.impressionism.label }} {{ form.impressionism() }}</li>
                        <li>{{ form.post_impressionism.label }} {{ form.post_impressionism() }}</li>
                        <li>{{ form.cubism.label }} {{ form.cubism() }}</li>
                        <li>{{ form.post_modernism.label }} {{ form.post_modernism() }}</li>
                        <li>{{ form.surrealism.label }} {{ form.surrealism() }}</li>
                        <li>{{ form.abstract.label }} {{ form.abstract() }}</li>
                    </ul>
                </section>
                <section>
                    {{ form.submit }}
                </section>
            </form>
        </div>
        {%else%}
            Arts.
        {%endif%}
        
    </body>
</html>