<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Study</title>
    </head>
    <body>
        study
        {% if method=="GET" %}
        <form method = "POST">
            {{ form.hidden_tag() }}
            <div>
                <div>{{form.archaic.label}} {{form.archaic()}}</div>
                <div>{{form.classical.label}} {{form.classical()}}</div>
                <div>{{form.hellenistic.label}} {{form.hellenistic()}}</div>
                <div>{{form.submit}}</div>
            </div>
        </form>
        {%else%}
            Arts.
        {%endif%}
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('quiz')}}">Quiz</a>
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('quiz')}}">Quiz</a>
        {% if method == "get" %}
        <div>
            <form method = "POST">
                {{ form.hidden_tag() }}
                <div>
                    Ancients
                    <div>{{ form.archaic.label }} {{ form.archaic() }}</div>
                    <div>{{ form.classical.label }} {{ form.classical() }}</div>
                    <div>{{ form.hellenistic.label }} {{ form.hellenistic() }}</div>
                </div>
                <div>
                    Medeival
                    <div>{{ form.romanesque.label }} {{ form.romanesque() }}</div>
                    <div>{{ form.gothic.label }} {{ form.gothic() }}</div>
                </div>
                <div>
                    Renaissance
                    <div>{{ form.renaissance.label }} {{ form.renaissance() }}</div>
                    <div>{{ form.northern.label }} {{ form.northern() }}</div>
                </div>
                <div>
                    Baroque
                    <div>{{ form.aristocratic.label }} {{ form.aristocratic() }}</div>
                    <div>{{ form.dutch.label }} {{ form.dutch() }}</div>
                </div>
                <div>
                    Contemporary
                    <div>{{ form.neoclassical.label }} {{ form.neoclassical() }}</div>
                    <div>{{ form.romantic.label }} {{ form.romantic() }}</div>
                </div>
                <div>
                    Modernism
                    <div>{{ form.impressionism.label }} {{ form.impressionism() }}</div>
                    <div>{{ form.post_impressionism.label }} {{ form.post_impressionism() }}</div>
                    <div>{{ form.cubism.label }} {{ form.cubism() }}</div>
                    <div>{{ form.post_modernism.label }} {{ form.post_modernism() }}</div>
                    <div>{{ form.surrealism.label }} {{ form.surrealism() }}</div>
                    <div>{{ form.abstract.label }} {{ form.abstract() }}</div>
                </div>
                <div>
                    {{ form.submit }}
                </div>
            </form>
        </div>
        {% else %}
        <!--for question in questions-->
            <!--render question-->
        {% endif %}
    </body>
</html>